body {
  background: #272822;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

#version {
	float: left;
}
/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the list items */
ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #272822;
	font-size: 18px;
	color: #E0E0D6;
	
	display: inline-block;
	width: 25%;

	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.stripe {
    background: #22231D;
}

ul li.checked {
    color: #BBBBB1;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #BBBBB1;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    opacity: 0;
}

.close:hover {
    background-color: #f44336;
    color: white;
    opacity: 1;
}

.close-shadow {
  opacity: 0.5;
  background-color: #101000;
}

/* Style the component alert */
.component {
    position: absolute;
    right: 34;
    top: 0;
    padding: 12px;
    opacity: 0.5;
}

.component .compTip {
    visibility: hidden;
    background-color: #171812;
    color: #F0F0E6;
    width: 160px;
	text-align: center;
    border-radius: 6px;
    padding: 5px 0;
	opacity: 0.9;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
}

.component:hover .compTip {
	visibility: visible;
}

/* Style the header */
.header {
    background-color: #3B9B6D;
    padding: 30px;
    color: #272822;
    text-align: center;
    font-weight: bold;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

.sidenav {
  width: 250px;
  float: left;
  background: #272822;
}

.sidenav a {
  color: #E0E0D6;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.sidenav a:hover {
  background-color: #3B9B6D;
  color: #22231D;
}

.navopen {
  background-color: #3B9B6D;
}

.navopen a {
  color: #22231D;
}

.side {
  display: none;
}

.side a {
  font-weight: normal;
  clear: both;
  margin-left: 16px;
}

.side a:hover {
  background: #49483E;
  color: #E0E0D6;
}

.main {
  margin-left: 250px;
}

/* Style the input */
input {
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #272822;
    color: #E0E0D6;
    font-family: serif;
}

input:focus {
	outline: none;
	background-color: #49483E;
}

input::-webkit-input-placeholder{
	color: #A0A096;
}

input::-moz-placeholder{
	color: #A0A096;
}

ul#items li:hover {
	background: #49483E;
}
